body {
    font-family: 'Syne Mono', monospace, serif;
}

body, h1, h2, h3 {
    margin: 0;    
}

button {
    Border: none;
    font-family: inherit; /* vai herdar o font-family do pai, no caso o body */
}

