@charset "UTF-8";

.seção_01 {
    background-color: tomato;
    position: absolute;
    margin-top: 4px;
    width: 100%        
}

.seção_01_imagem {
    position: absolute;
    height: 100%;
    margin-top: 80px;
    right: 15%;
    border-radius: 10px;
}

.seção_01_títulos {
    background-color: #FFEAEC;
    box-shadow: 5px 5px 5px #030ba660;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    left: 15%;
}

.seção_01_subtítulo {
    color: #301A4B;    
}

.seção_01_botões {
    position: relative;
    display: block;
    top: 20px;
    left: 18%;   
}

.seção_01_botão {
    text-decoration: none;
    position: relative;
    display: inline-block;   
    background-color: #6DB1BF;
    color: #FFEAEC;
    height: 50px;
    line-height: 50px; /* o line-height tem que ser do mesmo tamanho do height para que o conteúdo seja centralizado, só funciona se tiver uma linha */
    margin-right: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    font-family: 'Syne Mono', monospace, serif;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #134d58; 
}