.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #F25A70;
    cursor: pointer;
    box-shadow: 5px 5px 0 #000;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before{ /* contruindo uma seta com css puro */
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 20px solid transparent;
    border-left: 28px solid white; 
    transform: translateX(5px);
}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(15px);
    
}