@charset "UTF-8";

.button {
    display: inline-block;
    background-color: #6DB1BF;
    text-decoration: none;
    color: #FFEAEC;
    font-size: 25px; 
    font-weight: 400;
    height: 50px;
    line-height: 50px; /* o line-height tem que ser do mesmo tamanho do height para que o conteúdo seja centralizado, só funciona se tiver uma linha */
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #134d58;  /* #134d58 */
    margin-right: 0;
}

.button:active {
    background-color: #F5DD90;
    box-shadow: none;
    color: #030AA6;
}