
.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/images/rebeca_fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    border-bottom: 5px solid black;
    padding-top: 100px;
    padding-left: 80px;    
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.main-banner .main-box {
    margin-bottom: 40px;    
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}