@charset "UTF-8";

.main-title {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    color: black;             
}

.main-title.-second { /* vamos mudar o comportamento padrão do title fazendo uma variação do title original e colocamos assim no código para identificar, -second , são boas práticas*/
    text-align: center;
}