.node-card {
   display: inline-flex;
   box-sizing: border-box;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.node-card::before {
    content: '';    
    position: absolute;
    margin-bottom: 0;    
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed black;
    transform: rotate(90deg) translateX(-62%);
    bottom: 140px;
}

.node-card .title {
    font-size: 30px;
    font-weight: 700;
    color: #f25A70;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    width: 180px;
    height: 140px;
    border: 5px solid black; 
    padding: 0 20px 0;     
    background-color: #CEB02A;
}