.progress_bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid black;
    height: 40px;    
}

.progress_bar::-moz-progress-bar,
.progress_bar::-webkit-progress-bar {
    background-color: #7c5e99;
}


/* navegadores que usam webkit:
webkit = chrome, safari, opera, edge.

navegadores que usam o moz: mozilla

*/