
.section {
    box-sizing: border-box;
    background-color: #FFEAEC;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;    
    border-bottom: 5px solid black;
}  

.section .main-title {
    margin-bottom: 60px;
}
