
.section {
    box-sizing: border-box;
    background-color: #FFEAEC;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;    
    border-bottom: 5px solid black;
}  

.section .main-title {
    margin-bottom: 60px;
}

.section.-second {
    border-bottom: 5px solid #7C5E99;   
}

.section.-second .main-title.-second {    
    color: black
}

.section.-bgBlack { /* variação dao background-color */
    background-color: black;    
}

.section.-bdFirst { /* variação da borda */
    border-bottom: 5px solid #7C5E99;
}